{% extends 'base.html' %}



{% block content %}



<div class="container mt-5">
  <div class="row align-items-center">
    <h1 class="display-2 col">Hi, {{ user.username }}</h1>
  
    <div class="col d-flex justify-content-end"> 
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_room">
        Create Room
      </button>


      <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#enter_room">
        Enter Room
      </button>
    </div>

    <!-- FIRST MODAL -->
    <div class="modal fade" id="create_room" tabindex="-1" aria-labelledby="create_room" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="create_room">Create room</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <!-- FORM --> 
            <form action="{% url 'home' %}" method="POST">
              {% csrf_token %}
              {{ formRoom }}

              <div class="modal-footer">
                <input type="submit" name="create" value="Create" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- SECOND MODAL -->
    <div class="modal fade" id="enter_room" tabindex="-1" aria-labelledby="enter_room" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="enter_room">Enter Room</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <!-- FORM --> 
            <form action="{% url 'home' %}" method="POST">
              {% csrf_token %}
              <label for="room" class="form-label">Enter the room key</label>

              <!-- IMPUT + SHOW/HIDE ICON --> 
              <div class="input-group">
                <input ID="txtPassword" type="Password" Class="form-control" name="room_hash">
                <div class="input-group-append">
                      <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                </div>
              </div>

              <div class="modal-footer">
                <input type="submit" name="enter" value="Enter" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  
  {% if rooms|length == 0 %}
  <h3 class="display-2 text-center fw-light align-middle text-secondary justify-content-center">EMPTY</h3>
  {% else %}
  <div class="container d-flex flex-wrap">
    {% for room in rooms %}
      <div class="card flex-fill me-1 mb-1" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{room.title}}</h5>
          <p class="card-text">{{room.description}}</p>
          <a href="{% url 'room' room.id_room %}" class="btn btn-primary">Enter</a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<script type="text/javascript">
function mostrarPassword(){
		var cambio = document.getElementById("txtPassword");
		if(cambio.type == "password"){
			cambio.type = "text";
			$('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
		}else{
			cambio.type = "password";
			$('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
		}
	} 
	
	$(document).ready(function () {
	//CheckBox mostrar contraseña
	$('#ShowPassword').click(function () {
		$('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
	});
});
</script>
{% endblock  %}
  